name: CI for releases

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Tag version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build with Gradle
        run: ./gradlew build
      - name: Prepare the files for export
        run: |
          mkdir build/out
          cp $(find fabric/build/libs/ -maxdepth 1 -type f -name "velocity-player-mover-*.jar" ! -name "*-dev.jar" ! -name "*-sources.jar") build/out/Velocity-Player-Mover-FABRIC.jar
          cp paper/build/libs/*-spigot.jar build/out/Velocity-Player-Mover-SPIGOT.jar
          cp velocity/build/libs/*-velocity.jar build/out/Velocity-Player-Mover-VELOCITY.jar
      - name: Upload build artifacts
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "${{ env.RELEASE_VERSION }}"
          files: |
            build/out/*.jar
